<div fxLayout="row"
     fxLayoutAlign="space-between center"
     class="header-container">

  <a routerLink="store">
    <img class="logo-image" src="assets/images/promhub.jpg" alt="Logo">
  </a>

  <div fxLayout="row"
       fxLayoutAlign="space-between center">

    <span class="cart-status-label">
      <b>{{cartItemsQuantity}}</b>
      items in cart
    </span>

    <button
      color="accent"
      [disabled]="cartItemsQuantity === 0"
      mat-raised-button
      (click)="goToCart()">
      GO TO CART
    </button>
  </div>

</div>
