<div class="app-cart cart-product-container"
     fxLayout="row"
     fxLayoutGap="5px">

  <div *ngIf="products.length">
    <div class="cart-item"
         fxLayout="row"
         fxFlex
         fxLayoutAlign="start center"
         fxLayoutGap="10px"
         *ngFor="let p of products;let i = index">

      <span class="name">{{p.name}}</span>
      <img class="img-preview" [src]="p.image" alt="product">

      <mat-form-field appearance="fill">
        <input matInput
               type="number"
               placeholder="Quantity"
               [value]="p.quantity" (change)="setQuantity($event, p)">
      </mat-form-field>

      <button mat-raised-button
              (click)="removeItem(p)">
        REMOVE
      </button>
    </div>

    <div class="m-t-16"
         fxLayout="row"
         fxLayoutAlign="center center">

      <button mat-raised-button
              color="accent"
              (click)="isOrderFormVisible = true">
        ORDER ITEMS
      </button>
    </div>

  </div>

  <div class="form-container"
       *ngIf="isOrderFormVisible">
    form
  </div>


</div>
